@page
@model ClientMilkTeamPage.Pages.AdminPage.DistrictPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.District[0].DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District[0].WardName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.District)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WardName)
                </td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.DistrictID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.DistrictID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
