@page
@model ClientMilkTeamPage.Pages.AdminPage.UserPage.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a href="./TeaPage">Teapage</a> ||  <a href="./MaterialPage">MaterialPage</a>
    <button class="btn btn-primary" onclick="window.location.href='/Logout'">
        <span>Logout</span>
        <ion-icon name="log-in-outline"></ion-icon>
    </button>
</p>
<a href="./TeaPage">Teapage</a> ||  <a href="./MaterialPage">MaterialPage</a> || <a href="./DistrictPage">DistrictPage</a>  || <a href="./OrderPage">OrderPage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].WardName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WardName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
