@page
@model ClientMilkTeaStore.Pages.AdminPage.TaskPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskUser[0].WorkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskUser[0].WorkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskUser[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskUser[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskUser[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TaskUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ReasonContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DistrictID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TaskId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TaskId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TaskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
