@page
@model ClientMilkTeamPage.Pages.AdminPage.TeaPage.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tea.TeaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tea.TeaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tea.Estimation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tea.Estimation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tea.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tea.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tea.TeaDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tea.TeaDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tea.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tea.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tea.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tea.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tea?.TeaID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
