@page
@model ClientMilkTeamPage.Pages.Shipper.TaskHistoryModel
@{
    ViewData["Title"] = "Task History";
}

<h1>Task History</h1>

<table class="table">
    <thead>
        <tr>
            <th>Work Name</th>
            <th>Work Description</th>
            <th>User Name</th>
            <th>Order Name</th>
            <th>Order ID</th>
            <th>Status</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taskUser in Model.TaskUserVM)
        {
            <tr>
                <td>@taskUser.WorkName</td>
                <td>@taskUser.WorkDescription</td>
                <td>@taskUser.UserName</td>
                <td>@taskUser.ReasonContent</td>
                <td>@taskUser.OrderID</td>
                <td>@(taskUser.Status.HasValue ? (taskUser.Status.Value ? "Success" : "Failed") : "Unknown")</td>
                <td>@(taskUser.EndDate.HasValue ? taskUser.EndDate.Value.ToShortDateString() : "N/A")</td>
            </tr>
        }
    </tbody>
</table>

<a href="https://localhost:7097/Shipper/ShipperPage">Shipper Page</a>
