@page
@model ClientMilkTeamPage.Pages.UserPage.MyOrder.OrderDetailModel
@{
}

<h1>Order detail</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                OrderDetailID
            </th>
            <th>
                TeaName
            </th>
            <th>
                Image
            </th>
           <th>
                TotalPrice
            </th>
           <th>
                Quantity
            </th>
           <th>
                CostsIncurred
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderdetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tea.TeaName)
                </td>
                <td>
                    <img width="150px" src="@item.Tea.TeaName" alt="Tea Image">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostsIncurred)
                </td>

            </tr>
        }
    </tbody>
</table>
